<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Nachrichteneingang</div>
    <div class="panel-body">
      <% if !@inbox.nil? %>
        <table class="table">
          <thead>
            <tr>
              <th width="25%">Sender</th>
              <th width="75%">Message</th>
              <th colspan="3"></th>
            </tr>
          </thead>
             <% @inbox.each do |messages| %>
                <tr>
                  <td><%= messages.sender %></td>
                  <td><%= messages.message %></td>
                  <td>
                    <%= link_to 'Löschen', messages, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: 'btn btn-xs btn-danger', style:'color:#FFFFFF' %>
                  </td>
                </tr>
              <% end %>
          </tbody>
      </table>
      <% else %>
        <p> Keine Nachrichten vorhanden! </p>
      <% end %> 

      <br>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Nachrichtenausgang</div>
    <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th width="15%">Sender</th>
              <th width="15%">Recipient</th>
              <th width="70%">Message</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @user_messages.each do |messages| %>
              <tr>
                <td><%= messages.sender %></td>
                <td><%= messages.recipient %></td>
                <td><%= messages.message %></td>
                <td><%= link_to 'Anzeigen', messages, class: 'btn btn-xs btn-success', style:'color:#FFFFFF' %></td>
                <td>
                  <%= link_to 'Löschen', messages, method: :delete, data: { confirm: 'Sind Sie sicher?' }, class: 'btn btn-xs btn-danger', style:'color:#FFFFFF' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        
    </div>

</div>
<%= link_to 'Nachricht schreiben', new_message_path, style:'color:#FFFFFF', class: 'btn btn-primary btn-sm'%>
  
</div>
